<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="App:WorkingDirectory" value="C:\controlling"/>
		<add key="Jira:BaseUrl" value="https://your-domain.atlassian.net" />
		<add key="Jira:UserName" value="your-email@example.com"/>
		<add key="Jira:ApiKey" value="your-api-token"/>
		<add key="Jira:Jql" value="project = your-project"/>
	</appSettings>
</configuration>
